name: lint
on:
  pull_request: {}
  push:
    branches:
      - master
      - main

jobs:
  test:
    name: lint
    runs-on: ubuntu-22.04
    steps:
      # Setup repo
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.25'

      # Install dependencies and generate proto files
      - name: Install dependencies
        run: ./scripts/installDependencies.sh

      - name: Generate proto files
        run: make grpc

      # Check format
      - run: make check-fmt

